{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "parser": "flow",
  "arrowParents": "avoid",
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "printWidth": 80
}
